@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #03020c;
    --background: #d9d4e9;
    --primary: #5438e0;
    --secondary: #ce81ec;
    --accent: #cd60e6;
    --border: #000000;
  }
  .dark {
    --text: #f3f2fd;
    --background: #1a172b;
    --primary: #3b1fc7;
    --secondary: #5e137c;
    --accent: #86199f;
    --border: #ffffff;
  }
}
